<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/admin/admin-head') %>
  <body class="bg-[#DED9D3] text-[#242425] min-h-screen flex flex-col">
    <%- include('../partials/admin/admin-header') %>

    <main class="flex-1"><%- body %></main>

    <%- include('../partials/admin/admin-footer') %>
  </body>
</html>
