<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <%- include('../partials/admin/admin-head') %>
  <body
    class="bg-[#DED9D3] text-[#242425] min-h-screen flex items-center justify-center"
  >
    <%- body %>
  </body>
</html>
